[submodule "libs/LibACNH"]
	path = libs/LibACNH
	url = https://github.com/Slattz/LibACNH.git
[submodule "libs/nanovg-deko3d"]
	path = libs/nanovg-deko3d
	url = https://github.com/Adubbz/nanovg-deko3d
