# build.yml
name: Build
on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: 
       image: devkitpro/devkita64
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: build application
        run: |
          make
      - name: Ready artifacts
        run: |
          mkdir -p switch
          mkdir -p config/luna/dump
          mkdir -p config/luna/enctemplate
          mv luna.nro switch
          touch config/luna/dump/.dumps
          touch config/luna/enctemplate/.template
      - name: Upload em artifacts
        uses: actions/upload-artifact@v3
        with:
          name: luna
          path: |
            switch
            config
